:root {
  --cyan: hsl(172, 67%, 45%);
  --darkcyan: hsl(183, 100%, 15%);
  --neutralcyan1: hsl(186, 14%, 43%);
  --neutralcyan2: hsl(184, 14%, 56%);
  --lightcyan1: hsl(185, 41%, 84%);
  --lightwhite2: hsl(189, 41%, 97%);
}
@font-face {
  font-family: "Space Mono";
  src: url(./assets/font/SpaceMono-Regular.ttf);
}
@font-face {
  font-family: "Space Mono";
  font-weight: bold;
  src: url(./assets/font/SpaceMono-Bold.ttf);
}
body,
html {
  padding: 0;
  margin: 0;
}
* {
  font-family: "Space Mono";
  font-weight: 700;
  color:var(--neutralcyan2)
}
.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--lightcyan1);
}
h1 {
  color: var(--neutralcyan1);
  font-family: "Space Mono";
  letter-spacing: 0.5rem;
  font-size: 24px;
  text-align: center;
}

.container {
  background-color: white;
  border-radius: 6%;
  padding: 34px;
  max-width: 705px;
  min-width: min-content;
}
.namefield {
  display: flex;
  flex-direction: column;
}
.namefield input {
  text-align: right;
  font-weight: bold !important;
}

.select div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.select div input {
  opacity: 0;
  position: fixed;
  width: 0;
}
.select div label {
  display: flex;
  color: white;
  background-color: hsl(183, 100%, 15%);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  width: 146px;
  height: 47px;
  font-weight: 600;
  font-size: 24px;
}
.select div input:checked + label {
  background-color: var(--cyan);
}

input[type="number"] {
  border: 0;
  background-color: #f3f8fb;
  color: var(--darkcyan);
  font-weight: 400;
  font-size: 24px;
}

.dollarsection::before {
  content: "";
  background-image: url(./assets/icon-dollar.svg);
  display:inline-flex;
  position:absolute;
  background-repeat:no-repeat;
  height: 46px;
  width: 46px;
  background-position-x: center;
  background-position-y: 11px;
}
.dollarsection {
  height: 46px;
  background-color: #f3f8fb;
  max-width:max-content;
}

#custom:checked + label {
background-color:var(--cyan);
}

#custom + label {
  background-color: #f3f8fb;
  color:var(--darkcyan);
}


