:root {
  --cyan: hsl(172, 67%, 45%);
  --darkcyan: hsl(183, 100%, 15%);
  --neutralcyan1: hsl(186, 14%, 43%);
  --neutralcyan2: hsl(184, 14%, 56%);
  --lightcyan1: hsl(185, 41%, 84%);
  --lightwhite2: hsl(189, 41%, 97%);
}
@font-face {
  font-family: "Space Mono";
  src: url(./assets/font/SpaceMono-Regular.ttf);
}
@font-face {
  font-family: "Space Mono";
  font-weight: bold;
  src: url(./assets/font/SpaceMono-Bold.ttf);
}
body,
html {
  padding: 0;
  margin: 0;
}
* {
  font-family: "Space Mono";
  font-weight: 700;
  color: var(--neutralcyan2);
}
.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--lightcyan1);
}
h1 {
  color: var(--neutralcyan1);
  font-family: "Space Mono";
  letter-spacing: 0.5rem;
  font-size: 24px;
  text-align: center;
}

.container {
  background-color: white;
  border-radius: 6%;
  padding: 34px;
  max-width: 705px;
  min-width: min-content;
  margin:auto;
}
.namefield {
  display: flex;
  flex-direction: column;
}
.namefield input {
  text-align: right;
  font-weight: bold !important;
}

.select div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.tipPercentage {
  color: white;
  background-color: hsl(183, 100%, 15%);
  border-radius: 8px;
  width: 146px;
  height: 47px;
  font-weight: 600;
  font-size: 24px;
  border: 0;
}
.active {
  background-color:var(--cyan);
  color:var(--darkcyan)
}

input[type="number"] {
  border: 0;
  background-color: #f3f8fb;
  color: var(--darkcyan);
  font-weight: 400;
  font-size: 24px;
}

.dollarsection::before {
  content: "";
  background-image: url(./assets/icon-dollar.svg);
  display: inline-flex;
  position: absolute;
  background-repeat: no-repeat;
  height: 46px;
  width: 46px;
  background-position-x: center;
  background-position-y: 11px;
}
.dollarsection {
  height: 46px;
  background-color: #f3f8fb;
  max-width: max-content;
}

#custom:checked + label {
  background-color: var(--cyan);
}

#custom + label {
  background-color: #f3f8fb;
  color: var(--darkcyan);
}
.numberfield {
  display:flex;
  flex-direction: column;
}
.numberfield input {
  text-align:right;
  font-weight:700;
}

.numberfield span:before {
  content: "";
  background-image: url(./assets/icon-person.svg);
  display: inline-flex;
  position: absolute;
  background-repeat: no-repeat;
  height: 46px;
  width: 46px;
  background-position-x: center;
  background-position-y: 11px;
}

.result_Container {
  background-color: var(--darkcyan);
  border-radius:8px;
  display:flex;
  flex-direction:column;
}
.tip {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}
.result_Container div p {
  color:white;
}
.grised {
  color: var(--neutralcyan1)!important;
}
#result1, #result2 {
  padding-right: 20px;
  color:var(--cyan);
  font-size:30px;
}
#result1:before, #result2:before {
  content: "$";
  font-size:30px;
  
}
.result_Container div:not(#result1,#result2) {
  padding-left:15px;
}

.result_Container button {
  border : 0;
  background-color: var(--cyan);
  width:280px;
  margin:auto;
  border-radius:5px;
  height:46px;
  margin-bottom:10px;
}